body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background:linear-gradient(#3673d7, #98a3d0); */
  /* background:linear-gradient(#3673d7,#b5c1db); */
  /* background:linear-gradient(#3673d7, #91b9eb); */
  background:linear-gradient(#3673d7,#fcfcfd, #3673d7);
  /* background:linear-gradient(#98a3d0, #3673d7);
  background:linear-gradient(#98a3d0, #b5c1db); */
  /* background:linear-gradient(#98a3d0, #fcfcfd); */
  /* background:linear-gradient(#b5c1db, #91b9eb); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  text-align: center;
}
.Home{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Home label{
  font-size: 20px;
}
.Home input{
  border-radius: 6px;
  font-size: 20px;
}
.Home img{
  margin-top: 30px;
  height: 300px;
}
.Home button {
  margin-top: 13px;
  margin-left: -220px;
  font-size: 17px;
}
.Home p{
  margin-top: 100px;
  margin-bottom: 40px;
  font-family:  lobster, cursive;
  font-size: 23px;
}
.sentiment{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sentiment input{
  font-size: 18px;
  width: 250px; 
  margin-bottom: 10px;
}
.sentiment2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.sentiment2 button{
  width: 120px;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}
.sentiment3{
  margin-top: 20px;
  color: white;
  background-color:rgb(54, 54, 204);
  font-size: 26px;
  border-radius: 30px;
  padding: 8px;
}


@media (max-width: 800px) and (min-width: 600px){
  body{
    width: 100%;
    height: 100%;
  }
}
@media(orientation: landscape){
  .header{
    text-align: center;
    font-size: 30px;
  }
  .Home{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .Home label{
    font-size: 25px;
  }
  .Home input{
    border-radius: 6px;
    font-size: 22px;
  }
  .Home img{
    margin-top: -300px;
    margin-left: 50px;
   height: 500px;
    width: 600px;
  }
  .Home button {
    margin-top: 13px;
    margin-left: -220px;
    font-size: 20px;
  }
  .change{
    margin-top: 300px;
    margin-left: 800px;
  }
  .Home p{
    margin-top: 100px;
    margin-bottom: 40px;
    font-family:  lobster, cursive;
    font-size: 40px;
  }
}